@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.rbc-calendar {
  border: 2px solid #1e2024;
  border-radius: 12px;
  box-shadow: 10px 10px 10px #1e2024;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  background-color: rgb(229 231 235);
  font-family: 'Ysabeau SC';
  width: 55%;
  min-height: 55vh;
  padding: 10px;
}

.rbc-toolbar {
  background-color: #d4bc98;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: 0;
  padding: 10px 0;
}

.rbc-btn-group button {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 0.8rem;
  border: 0px;
  background-color: #ceb084;
  transition: background-color 0.3s ease;
  font-size: small;
}

.rbc-btn-group button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.rbc-day-bg + .rbc-today,
.rbc-now {
  background-color: #d4bc98;
  border-radius: 5px;
}

.rbc-day-slot {
  border: 1px solid #1e2024;
  border-radius: 12px;
}

.rbc-header {
  background-color: #1e2024;
  color: #d4bc98;
  border-top-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.1rem;
}

.rbc-month-row {
  min-height: 15%;
}

.rbc-month-view {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.rbc-event-continues-after {
  border-bottom-right-radius: 12px;
}

.rbc-event-allday {
  border-bottom-right-radius: 12px;
}

.rbc-row-content {
  border-bottom-right-radius: 12px;
  height: 150px;
}

.rbc-row-bg {
  border-bottom-right-radius: 12px;
}

.rbc-event-content {
  border-bottom-right-radius: 12px;
  color: #dfd3c2;
  font-size: small;
}

.rbc-event {
  font-size: 90%;
  text-align: center;

  color: white;
  padding: 0px 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.rbc-event:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .rbc-calendar {
    width: 90%;
    min-height: 60vh;
  }

  .rbc-event-content {
    font-size: x-small;
  }

  .rbc-month-row {
    min-height: 20px;
  }
}
